
.Site {
  text-align: center;
  height: 100vh;
}

.Site-profileControls {
  padding: 10px;
}

.Site-profilePicture {
  display: block;
  width: 192px;
  height: 192px;
  margin: 10px auto;
}

.Site-page {
  padding: 20px;
}